[2021-02-16 15:06] kevcrooks commented on #168
Thank you @PeterStaev, unfortunately after trying a few options, I'm now getting an authentication error, but I believe all of the key details are correct:

[code]

I took exactly the '.p8' file that I downloaded from Apple, including the "-----BEGIN PRIVATE KEY-----" and line breaks etc, and base64 encoded like this:
[code]

I will double check the key, but I think it's ok on our end, is there so

[2021-02-16 15:14] kevcrooks commented on #168
@jfahrenkrug  I don't know if this is relevant, but I just checked in the pull request what the sample input was for your tests, so I could work out what was expected. In the Pull Request you gave this:
`LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR1RBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJIa25saGRsWWRMdQotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0tLS0tLUVORCBQUklWQVRFIEtFWS0tLS0t`

however the base64 decode

[2021-02-16 15:33] jfahrenkrug commented on #168
@kevcrooks It's just a sample value, in real life it shouldn't have two `END PRIVATE KEY`s at the end. I should have cleaned that up better, sorry about that.
As for encoding the p8 file, could you try running `base64 ~/Downloads/AuthKey_blabla.p8 -b 0 | pbcopy` and using that value and see if that works? `-b 0` means no line breaks, and `| pbcopy` puts the result in your clipboard, ready to be pa

[2021-02-16 15:53] kevcrooks commented on #168
@jfahrenkrug I ran the command you gave on the Mac (previously using Windows to encode), and got a different string result, but it's still not working for me unfortunately, with the same error.

I agree it seems likely to be a line break error, but I've tried multiple combinations and can't find one that works

[2021-02-16 16:06] kevcrooks commented on #168
Update: I managed to get the same result on Windows using the `F#` code above as with running the command you suggested by editing the string I was converting to just have `LF` at the end of each line, i.e.
`-----BEGIN PRIVATE KEY-----\nMIGT...\n...\n...\n...\n-----END PRIVATE KEY-----`

Is this the expected input for the string that's being base64 encoded, or should all of the `\n` be removed?

[2021-02-16 16:13] jfahrenkrug commented on #168
@kevcrooks Yes, decoding should give you the original contents of the file, with line breaks.
Maybe the best way to debug this is for you to run the fastlane commands locally.

1. Create a `api_key.json` file with this content (replace the appropriate values with yours):

[code]

2. Either download the IPA file from a previous run from Azure DevOps or built in yourself locally.
3. Run `fastlane pi

[2021-02-16 16:28] kevcrooks commented on #168
It also fails when I try locally so I'll keep on checking, one thing to note is what the key should be in the JSON file. This doc suggests it should be `key_content`:
https://docs.fastlane.tools/actions/app_store_connect_api_key/#parameters

However this one shows "key":
https://docs.fastlane.tools/app-store-connect-api/

[2021-02-16 16:49] jfahrenkrug commented on #168
@kevcrooks Good question, but `key` is correct when used in the JSON file, see https://github.com/fastlane/fastlane/blob/30d55a575b8eedd5a1359f498d347cbf067d03c0/spaceship/lib/spaceship/connect_api/token.rb#L34

Please keep us posted on what you find out, I'm curious what the issue is in your case.

[2021-02-16 17:02] PeterStaev commented on #168
@kevcrooks , just to confirm that an API key worked fine for me on an Azure DevOps Server 2020. I just took the contents of the p8 file and base64 encoded it w/o removing anything.

[2021-02-17 09:40] kevcrooks commented on #168
Thank you @PeterStaev @jfahrenkrug for the help, it works for me now - Stupidly while I was changing to use the base64 encoding I'd copied the variables across and mis-copied our `issuer_id`, so once I went back to the pipeline variables with the correct encoded `key` this morning, everything works fine!)

Thanks so much again for explaining the encoding, this fixed it for me!

[2021-02-17 15:37] jfahrenkrug commented on #168
@kevcrooks Excellent! Thanks so much for the update, I'm glad it's working for you now :)

[2021-02-18 12:01] max-zaytsev commented on #171
Hi @Ragamabhilash, @idrisfl do you still see this issue?
I just tried to run the task using _"distribute to external testers"_ option and I can see a build under Beta group.

[2021-02-18 16:16] max-zaytsev commented on #213
Hi @Ragamabhilash,

You can generate _fastlane session_ on your local machine by running:

`fastlane spaceauth -u user@email.com`

Here's more info about it: https://docs.fastlane.tools/best-practices/continuous-integration/#application-specific-passwords

- So if you chose authentication method _"Username and password"_ you will be able to insert it into _"Fastlane Session for Two-step Verificati

[2021-02-19 12:16] Chiranjeevi521 commented on #168
Hi @jfahrenkrug,

First of all thank you for merging this fix and now we could send app to test-flight using non 2FA account with token based authentication, but task is failing while setting release notes.

**Glimpse of warnings/errors:**

2021-02-19T11:38:17.6281720Z ##[warning]You specified releaseNotes - so you need to provide fastlane session, app specific password only won't work

2021-02-19

[2021-02-19 12:24] anatolybolshakov commented on #168
Hi @Chiranjeevi521 could you please create separate issue for it?

[2021-02-19 12:59] Chiranjeevi521 opened #215 "Apple App Store Release task is failing while updating release notes"
Apple App Store Release task is failing while updating release notes

**Extension used in pipeline :**  https://marketplace.visualstudio.com/items?itemName=ms-vsclient.app-store

*Type*: Question/Bug

**Enter Task Name**: Apple App Store Release

## Issue description :

After taking https://github.com/microsoft/app-store-vsts-extension/issues/168, we could send app to test-flight using non 2FA acc

[2021-02-20 12:06] anatolybolshakov commented on #215
Hi @Chiranjeevi521 this seems to be some issue on fastlane side - could you please create an issue in https://github.com/fastlane/fastlane?

[2021-02-20 16:03] Chiranjeevi521 commented on #215
Hi @anatolybolshakov, thank you for investigating. I created an issue ( https://github.com/fastlane/fastlane/issues/18247 ) for fast lane team.

[2021-02-20 16:03] #215 closed

[2021-02-21 01:02] AbinashPatra opened #217 "The current operating system is not capable of running this task. That typically means the task was written for Windows only. For example, written for Windows Desktop PowerShell."
## Note
Our TFS ios builds have started failing in the Apple app store release task. The error recorded is

The current operating system is not capable of running this task. That typically means the task was written for Windows only. For example, written for Windows Desktop PowerShell.

Version is 1.183

Fast lane is also updated but no luck. The error does not seem to point to any version issues

[2021-02-22 12:26] Ragamabhilash commented on #213
Hi @max-zaytsev

App Store Connect API key seems to be a great option for me. I did generate the key in App Store Connect and used it in an Azure DevOps pipeline. But it is not publishing the iOS app in TestFlight. I'm getting the error:  _Search query: invalid curve name_

Steps I followed:
1. Generated the key with Admin access level.
![image](https://user-images.githubusercontent.com/62990526/1

[2021-02-22 14:53] Ragamabhilash opened #218 "App Store Connect API Key - invalid curve name (OpenSSL::PKey::ECError)"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Apple App Store Release

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

## Environment
- Server - Azure Pipelines or TFS on-premises? Azure Pipelines

    - If

[2021-02-23 21:31] max-zaytsev commented on #213
Hi @Ragamabhilash, this is probably due to the wrong encoding.
Try to encode without adding "\n"

[2021-02-23 22:41] SudhersonV commented on #217
The last successful build and publish was when using the version 1.178.4

2021-02-16T20:31:14.4665180Z Task         : Apple App Store Release
2021-02-16T20:31:14.4718710Z Description  : Release an app to TestFlight or the Apple App Store
2021-02-16T20:31:14.4772570Z Version      : 1.178.4
2021-02-16T20:31:14.4825810Z Author       : Microsoft Corporation
2021-02-16T20:31:14.4881620Z Help         :

[2021-02-24 04:16] willardf opened #219 "API Connect Key: Pilot fails with "string contains null byte (ArgumentError)""
Using Hosted MacOS Azure Pipeline agents, the release task fails with the error at the bottom. Both a service connection and the in-task fields produce the same result. Recreating the commands with a bash script task, but using echo to create the jsonKeyFile seems to work fine.

2021-02-24T03:34:57.0102550Z 	from /Users/runner/.gem-cache/gems/fastlane-2.175.0/spaceship/lib/spaceship/connect_api/to

[2021-02-24 04:34] willardf commented on #218
The error you're receiving is because the key is in the wrong format, so ruby cannot load it. The key should be of the format:

The x, y, z, and a's are already the base64 content they are asking for. But the newlines do need to be escaped and the newlines in the key content should be removed for best results.

[2021-02-24 04:47] Ragamabhilash commented on #213
Hi @max-zaytsev, I tried without adding \n and got the same error:  invalid curve name (OpenSSL::PKey::ECError)

The content of the P8 key file is written in multiple lines (64 chars per line) and the powershell convert command expect a string, like [System.Convert]::ToBase64String([System.Text.Encoding]::UTF8.GetBytes("-----BEGIN PRIVATE KEY-----xxxxx-----END PRIVATE KEY-----"))

The issue has be

[2021-02-24 06:45] Ragamabhilash commented on #218
I removed the \n in between the x,y,z and a's and copied them in a single line. Also added \n only for first and last line, like: -----BEGIN PRIVATE KEY-----**\n**xxxxxxxxxxxyyyyyyyyyyyzzzzzzzzaaaaaa**\n**-----END PRIVATE KEY----
But got the same error.

Also tried without any \n, like: -----BEGIN PRIVATE KEY-----xxxxxxxxxxxyyyyyyyyyyyzzzzzzzzaaaaaa-----END PRIVATE KEY----, nothing is working.

[2021-02-24 07:53] max-zaytsev commented on #213
@Ragamabhilash could you please try [this](https://www.base64encode.org/) tool to encode your key (Just copy and paste api key content there and click "encode") and check if you get the same result using powershell?

[2021-02-24 08:18] EzzhevNikita commented on #217
@AbinashPatra Which version of agent do you use? Could you please try to upgrade it to the latest one and check if issue will be still actual for you?

[2021-02-24 09:14] max-zaytsev commented on #219
Hi @willardf How did you encode the content of the api key?

[2021-02-24 09:38] max-zaytsev commented on #218
@Ragamabhilash could you please try this tool to encode your key (Just copy and paste the content of the .p8 file there and click "encode") and check if you get the same result using powershell?

[2021-02-24 09:39] Ragamabhilash commented on #213
@max-zaytsev Encoded the key with the tool and the release worked! The Release note is also showing up in the App Store now. Thank you for the help :)
Is there a specific format or naming convention for the iOS release note file? When a file name with some characters given (eg: releasenotes.txt) it didn't work. It worked when the file name is Android version code (eg: 12021.txt). I've both iOS and

[2021-02-24 10:32] max-zaytsev commented on #213
@Ragamabhilash _releasenotes.txt_ should also work (if it's a valid path) since the task just read the file and provide the string to the` changelog` parameter of the fastlane command
`fastlane pilot upload --changelog "Something that is new here"`

Could you please try again and provide the pipeline logs if it doesn't work?

[2021-02-24 10:43] max-zaytsev commented on #218
Ragamabhilash [confirmed](https://github.com/microsoft/app-store-vsts-extension/issues/213#issuecomment-784945337) that the issue is resolved.

[2021-02-24 10:43] #218 closed

[2021-02-24 10:52] Ragamabhilash commented on #218
Yes, encoding with the tool helped. The iOS deployment to TestFlight is working now. Thank you!

[2021-02-24 11:20] Ragamabhilash commented on #213
@max-zaytsev The releasenotes.txt also worked. I had provided wrong path in my previous run. Sorry for the confusion.

[2021-02-24 11:20] #213 closed

[2021-02-24 13:17] AbinashPatra commented on #217
@EzzhevNikita  We are using the agent version 2.136.1 and I believe this is the latest version. I downloaded the agent file and verified the name and it says 2.136.

[2021-02-24 15:58] EzzhevNikita commented on #217
@AbinashPatra Could you please try to setup new [2.182.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.182.1 ) agent (you can download it by the link I've provided)? The only thing you need to add environment variable _AZP_AGENT_DOWNGRADE_DISABLED_  with _true_ value to your pipeline.

[2021-02-24 18:58] jopache commented on #219
I'm experiencing the same issue using a service connection and in task fields as well.  the command being run in the release task is:

021-02-24T18:24:11.1424680Z [command]/usr/local/lib/ruby/gems/2.7.0/bin/fastlane pilot upload --api_key_path /Users/runner/work/_temp/api_key***.json -i /Users/runner/work/r1/a/_PIPELINENAME/drop/output/iphoneos/Release QA/ourapp.ipa -a com.company.ourapp.qa -p 123

[2021-02-24 20:30] jopache commented on #219
Also, seeing this on the fastlane issues gh repo.  It's culminating in a different area, but the error here "feels" the same.  I need to try an earlier version of fastlane to see if it fixes the issue.

[2021-02-24 21:47] jopache commented on #219
Downgrading fastlane did nothing.  I feel like the issue is in the key file being passed in... the "***" smells off to me; perusing through the codebase here it seems like that should "-keyid.json"

I tried outputting all files in that directory and it's actually empty.  Something feels off in the creation of that file..

fastlane pilot upload --api_key_path /Users/runner/work/_temp/api_key***.jso

[2021-02-24 22:09] AbinashPatra commented on #217
I did not realize that this version is available. TFS downloads  2.136 so I thought thats latest. Now I know why thought.
Coming to the issue - 2.182.1 does not connect to tfs and we assume its because TFS is http and it does not like http.
I went down to 2.174 and it's working.

[2021-02-25 02:35] jopache commented on #219
Ok, the ***.json; looks like is only happening when I use a service connection. When I use in task fields to specify an API Key connection, it sees the api_key{keyid}.json instead as passed in to the fastlane command.

I still get a similar error...

using the older version (2.158.0) just caused an error reading json as well. Seems like the file can't be found? but I'm not entirely sure if "the fi

[2021-02-25 05:29] EzzhevNikita commented on #217
@AbinashPatra Since the issue was resolved for I assume we could close this ticket. Feel free to reopen it in case the issue will happen again

[2021-02-25 05:29] #217 closed

[2021-02-25 12:05] max-zaytsev commented on #219
Hi @jopache, You have to encode the content of .p8 file to base64 to use in the task.
You can try this [tool](https://www.base64encode.org/) or the following powershell snippet:

[code]

[2021-02-25 15:08] jopache commented on #219
My apologies; that was the issue and it is now running.  Thank you for the quick response!

[2021-03-01 07:23] max-zaytsev commented on #219
@willardf Are you still experiencing this issue?

[2021-03-02 11:46] rohanp-91 opened #222 "Does App Store Promote work for automatically releasing an app that has already been approved?"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-03-03 09:17] NPadrutt commented on #206
As a work around for me worked to just add a PowerShell script before the upload step that moves the metadata folder to the root of the working directory:

[code]

The issue for fastlane is created. We'll see if they can find something.

[2021-03-03 10:05] anatolybolshakov commented on #190
Hi everyone, we released new version with api key support - please let us know if you still face with issues regarding this.
@YahiaRagae does api key feature work for you?

[2021-03-08 10:39] akeblom commented on #190
Still getting

`Unresolved conflict between options: 'api_key_path' and 'username'`

[2021-03-08 12:13] akeblom commented on #190
There seems to be an issue over at Fastlane where username still is mandatory even if api_key_path is provided. There is a pr to fix it but it is not merged yet. That pr should solve this problem.

[2021-03-08 12:21] akeblom commented on #219
I also ran into a similar problem but solved it using the following in bash to get a valid base64-string

`more your_key_file.p8 | base64`  and then use the output.

[2021-03-11 10:27] max-zaytsev commented on #219
@willardf feel free to reopen it if you still have issues

[2021-03-11 10:27] #219 closed

[2021-03-11 10:30] max-zaytsev commented on #171
@Ragamabhilash I close this since for a long time there was no answer. Please reopen it if you still see the problem

[2021-03-11 10:30] #171 closed

[2021-03-11 10:33] anatolybolshakov commented on #190
@akeblom ok, thanks for update!

[2021-03-11 20:02] ViniciusTei opened #223 "Error with authentication credentials are missing or invalid."
*Type*: Question

**Enter Task Name**: Apple App Store Release

## Environment
- Server - Azure Pipelines

- Agent -
    -Private Mac.OS 10.15

## Issue Description

After some time, my Release pipeline started to show this error. I have done all the steps described on the past issues. Me and my team couldnt find a solution for this errors, even with all of our tokens correct. Can I find some help

[2021-03-12 12:23] alexander-smolyakov commented on #222
Hey @rohanp-91, the Apple Promote task designed only to promote build from TestFlight to Production, and most likely the scenario you describe will not work.

However, if you need this functionality in the task, could you create a feature request for it and describe in more detail how you see this feature should work?

[2021-03-13 01:38] rohanp-91 opened #225 "[Feature Request] As an user, I can use App Store Promote to release version previously submitted for review"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-03-13 01:41] rohanp-91 commented on #222
Hi @alexander-smolyakov,

Thanks for the response. I have opened feature request #225. Please let me know if I need to add any additional information in the feature request. Also, please feel free to drop me an email or ping me on Teams in case you have any questions. My alias is ropathak.

As of now, I am **closing** this issue. The requirement can be tracked in the feature request. Thanks!

[2021-03-13 01:41] #222 closed

[2021-03-13 01:49] rohanp-91 commented on #225
As a follow-up question - I found the following snippet for releasing an app to all users:

lane :release_app do
    require "spaceship"
    Spaceship::Tunes.login('email@example.com')

    app = Spaceship::Application.find('com.example.app')
    app.release_to_all_users
end

Is this something that I can put in my Fastfile and have an ADO task (like a bash script task) execute it? Will it work in

[2021-03-15 18:08] anatolybolshakov commented on #190
Hi everyone, let me close this one at the moment since currently there is a new api key feature - please feel free to ask any further questions or report issues.

[2021-03-15 18:08] #190 closed

[2021-03-16 10:12] NPadrutt commented on #206
While my work around solved the initial issue I had, meanwhile I have the same as @kevcrooks. Funny enough, when I create a build and directly promote it through testflight to production it works. But when I do the promoting a day or two later I get the  `Cannot update languages - could not find an editable version for 'IOS'` Error

[2021-03-16 10:42] jawi-bq commented on #206
@NPadrutt  `could not find editable version` means your are trying to submit changes to a build which is not present in the App Store yet. You can create a new version manually form App Connect or just add another parameter to the fastlane arguments: `--app_version $(RELEASE_VERSION_NAME)` where `RELEASE_VERSION_NAME` is your CFBundleShortVersionString.

[2021-03-16 10:44] NPadrutt commented on #206
@jawi-bq  thanks for the tipp. I'll try the --app_version parameter in the next publish.  I'm just kinda puzzled that it sometimes seems to work when you directly go through. But maybe there is something going together with the TestFlight release or that I opened something with my tests that I wasn't aware of.

[2021-03-16 14:34] anatolybolshakov commented on #225
Hi @rohanp-91 I guess it would, but to clarify this you can ping fastlane team also - https://github.com/fastlane/fastlane

[2021-03-23 12:00] Aiswarya26-ui commented on #171
Hi @max-zaytsev

Tried the above steps for deploying ios build to external testers.

I tried to run the task using "distribute to external testers" option and I can see a build deployed to testflight, it was sent to apple store for review but I don't see it available under 'external testers' group. Can we publish the build to testflight first, review/test it and then deploy it to beta using pipeli

[2021-03-23 12:51] #223 closed

[2021-03-24 05:53] Aiswarya26-ui opened #226 "iOS app deployment to Beta is not working"
Hi

I tried to run the beta deployment task using "distribute to external testers" option and I can see a build deployed to testflight, it was sent to apple store for review but I don't see it available under 'external testers' group. Can we publish the build to testflight first, review/test it and then deploy it to beta using pipeline?

![image](https://user-images.githubusercontent.com/81216430/

[2021-03-24 09:41] adams-family opened #227 "Please clarify how does this extension work on a hosted Azure DevOps environment?"
*Type*: documentation update request

Please clarify how does this extension work on a hosted Azure DevOps environment?
  - Where is fastlane going to be installed?
  - How to answer the question 'if you are behind a firewall'?

[2021-03-24 11:16] anatolybolshakov commented on #227
Hi @adams-family, there is specific fastlane version installed by default on hosted Azure DevOps environment - you can find current installed version [here](https://github.com/actions/virtual-environments/tree/main/images).
If you specified 'Install fastlane' input for task - it will install fastlane by calling 'gem install fastlane' command - you can find more details about gem [here](https://www

[2021-03-24 13:17] adams-family commented on #227
Hi @anatolybolshakov - thanks! If my understanding is correct then on hosted Azure DevOps environments this extension will work out of the box after installing?

Would it make sense to state this in the readme.md as it wasn't clear to me until you clarified? Thanks

[2021-03-24 17:54] anatolybolshakov commented on #227
@adams-family yes correct
Make sense, thanks!

[2021-03-31 19:39] KP1980 opened #229 "App Store Release task failing while downloading software component"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-04-01 09:08] DaniilShmelev commented on #229
Hi @KP1980! There is an open ticket in the fastlane repo regarding this issue: https://github.com/fastlane/fastlane/issues/18331.
As a workaround, switching to a newer version of macos worked for us.

Closing this for now since this is outside of our area. Feel free to reopen if you have any questions!

[2021-04-01 09:08] #229 closed

[2021-04-01 14:14] KP1980 commented on #229
Hi @DaniilShmelev

I do not see any option to to switch to a newer version of macOS. There is only one option "Hosted MacOS" in Agent Pool selection. I have attached the screenshot.

P.S. I cannot reopen the issue if it is close by a repo collaborator.
https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github
![Agent Pool](https://user-images.githubusercontent.com/53361846/113

[2021-04-01 17:55] KP1980 commented on #229
Hi @DaniilShmelev

I was able to switch to newer version of macOS agent (macOS-10.15) by selecting "Azure Pipelines" and then selecting Agent Specification to "macOS-10.15".

The issue is resolved now.

Thank you for your help.

[2021-04-01 22:09] NPadrutt commented on #206
This is like whack a mole..  Now I get the error:  "Unsupported directory name(s) for screenshots/metadata " despite having deactivated that screenshots should be uploaded and not having made any changes to the meta data..

[2021-04-02 19:47] SEnglishSMP opened #230 "Submitting already uploaded binary for Apple Review fails because "No deliver configuration found in the current directory.""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Apple App Store Release

## Environment
- Server - Azure Pipelines
- Agent - Hosted macOS

## Issue Description

A previous stage in our release pipeline uploads the app to TestFlight.  The one in question then adds me

[2021-04-05 04:50] Aiswarya26-ui commented on #226
Hi,

Is there any update on this?

Thanks,
Aiswarya

[2021-04-05 11:23] anatolybolshakov commented on #230
Hi @SEnglishSMP this seems to be related to a fastlane issue https://github.com/fastlane/fastlane/issues/18321 (which was opened after https://github.com/microsoft/app-store-vsts-extension/issues/206)

[2021-04-05 12:57] anatolybolshakov commented on #226
Hi @Aiswarya26-ui could you please share your yaml file and pipeline logs?

[2021-04-07 05:41] Aiswarya26-ui commented on #226
Hi @anatolybolshakov

Please find the below logs.
Also, please note that we're trying to publish the binary to external 'beta' and not to testflight.

2021-03-23T06:37:52.7101860Z ##[debug]Evaluating condition for step: 'Publish to the App Store TestFlight track'
2021-03-23T06:37:52.7103890Z ##[debug]Evaluating: succeeded()
2021-03-23T06:37:52.7104480Z ##[debug]Evaluating succeeded:
2021-03-23T06:

[2021-04-07 08:38] omghb opened #233 "Automatic task update broke our build pipelines because of increasing minimum agent version"
## Note

Because of the https://github.com/microsoft/app-store-vsts-extension/commit/43e071b0805a7f3629bed1a1c28bf1c32ab3160d
* bump minimum agent version

our build pipelines broke with following error:
`##[error]No agent found in pool OMICRON MAC which satisfies the following demand: Agent.Version. All demands: xcode, Xamarin.iOS, Agent.Version -gtVersion 2.182.1`

As Azure DevOps pipelines do n

[2021-04-07 10:41] anatolybolshakov commented on #233
Hi @omghb we don't consider minimum agent version bump as major task update - since service automatically updates agent version until this is not disabled, and we keep agent backward compatible between minor updates - so you can update agent also.

[2021-04-07 11:29] omghb commented on #233
I believe that's not true for OnPremise versions. We use the latest Azure DevOps OnPremise: Version Dev18.M170.8

It downgraded our MAC build agent after we installed the latest agent version. This broke the build again. Therefore, it is necessary to disable "Allow agents in this pool to automatically update".

[2021-04-08 12:46] ad-mca-mk commented on #233
I have sent a PR, which solved the issue locally for us.

[2021-04-09 10:37] anatolybolshakov commented on #233
@ad-mca-mk did you try to update extension manually on on-prem version?

[2021-04-09 10:50] ad-mca-mk commented on #233
Yup, the task is working locally and we've successfully published on 2 separate pipelines.

![image](https://user-images.githubusercontent.com/3054655/114169618-15e9f200-9932-11eb-8b56-ffced3bc6d26.png)

[2021-04-09 13:41] anatolybolshakov commented on #233
@ad-mca-mk there was a new security feature introduced with last extension update which requires an agent of at least v2.182.1. It should be automatically updated for cloud product version, but please note that manual extension update for on premise solution could require further agents update.

[2021-04-09 15:35] ad-mca-mk commented on #233
@anatolybolshakov How do we update on-prem agents since our AzureDevOpsServer 2020 does not get notified of the new agent releases?

This is the image of a new agent creation dialog. So even our maintenance schedule does not update them to the latest version.
![image](https://user-images.githubusercontent.com/3054655/114204701-c6b7b780-9959-11eb-84ca-a904df7bb2c4.png)

[2021-04-09 16:28] anatolybolshakov commented on #233
@ad-mca-mk you can upload the agent from release [page](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.184.2) - the one thing that you need to do is to set up 'AZP_AGENT_DOWNGRADE_DISABLED' to 'true' before agent configuration - to disable automatic agent downgrade to the default version for current on-premise.

[2021-04-09 19:05] ad-mca-mk commented on #233
That is fine, since we have limited number of agents, but how would large organizations would manage it?
It does require a lot of manual work per agent.

(you can abandon the PR since it's a mandatory security requirement)

[2021-04-09 20:32] max-zaytsev commented on #226
Hi @Aiswarya26-ui,

From the logs you sent, I see that you have not increased the build number:

So, the task failed.

And also on the last screenshot, I can see that you are trying to add "Beta" external group. Could you please remove the double quotes here and run the pipeline again?

[2021-04-12 10:32] Aiswarya26-ui commented on #226
Hi @max-zaytsev,

Thank you for your response. I do see the binary under beta environment after removing the double quotes.

But is it possible to deploy it to alpha first and then to beta? When I try to do that I see the below error;

**"ERROR ITMS-90189: Redundant Binary Upload. You've already uploaded a build with build number '1.2.34' for version number '1.2.34'. Make sure you increment the bu

[2021-04-12 19:07] scrthq commented on #233
This is also impacting us with our instance of Azure DevOps Server 2020.0.1 (latest stable). Our self-hosted macOS agents are on the latest version available for on-prem, which is 2.170.1 as @ad-mca-mk mentioned.

Is there a compatibility issue with the newer agent version from the release page and Azure DevOps Server 2020 or should we be fine pulling that zip so long as the environment variable i

[2021-04-13 14:20] Mosc opened #235 "Setting shouldAutoRelease to false does not work correctly"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Apple App Store Release

## Environment
- Server - Azure Pipelines
- Agent - Hosted

## Issue Description

When `shouldAutoRelease` is set to `false`, the task does not provide the `automatic_release` argument to fastlane, even though fastlane does expect either the automatic release or auto release date argu

[2021-04-13 17:37] anatolybolshakov commented on #233
@ad-mca-mk yes, closed it since there is security update - thanks anyway!
In general we suggest to be ready to update self-hosted agents used too - if there is extension update coming in.
@scrthq there should be backward compatibility for agent and previous Azure DevOps Server versions -  so it should be fine to pull last version for 2020.

[2021-04-15 10:20] anatolybolshakov commented on #153
Hi @trajano is this still actual for you with API key feature?

[2021-04-15 12:55] trajano commented on #153
I would have to verify.  The workaround https://github.com/microsoft/app-store-vsts-extension/issues/153#issuecomment-701238698 has been working so far for me though, but it looks fugly so I will try to do the new feature.

[2021-04-16 15:18] max-zaytsev opened #236 "Distribute a previously uploaded build to external testers"
It seems that `fastlane `provides the ability to distribute a previously uploaded build to external testers (See [distribute_only](http://docs.fastlane.tools/actions/pilot/#pilot) parameter)
It's not yet supported by AppStoreRelease task

[2021-04-16 15:34] max-zaytsev commented on #226
Hi @Aiswarya26-ui, the behavior you described is not supported by app store release task.
I opened another issue to provide this ability: https://github.com/microsoft/app-store-vsts-extension/issues/236

Closing this one since the task works as expected.

[2021-04-16 15:34] #226 closed

[2021-04-19 17:12] anatolybolshakov commented on #233
@omghb @ad-mca-mk @scrthq let me close this one since it looks resolved - please feel free to ask any further questions.

[2021-04-19 17:12] #233 closed

[2021-04-20 00:43] scrthq commented on #233
@anatolybolshakov apologies for the late response here, didn't catch your reply 6 days ago. I'm still not understanding why the required version is a higher version than is currently available for on-prem without manually forcing the upgrade and blocking the automatic downgrade, vs just requiring the latest version of the agent that's available for Azure DevOps Server to ensure compatibility. Cont

[2021-04-20 00:48] scrthq commented on #233
My question in my comment 7 days ago wasn't asking whether the latest version of the agent is supported with Azure DevOps Server, you had answered that already when providing the workaround in the first place. I'm trying to understand why the minimum required version is higher than is available for on-prem Azure DevOps Server and why the workaround is needed vs allowing at least agent version 2.17

[2021-04-21 11:19] anatolybolshakov commented on #233
@scrthq there was security update on agent side introduced with [v2.182.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.182.1) - allowing to restrict variables which could be set by pipeline task - since new possible vector of attack was found related to some possible injection from untrusted tasks. We updated app store extension tasks to enable such restrictions and avoid su

[2021-04-24 17:28] scrthq commented on #233
@anatolybolshakov Got it! Thank you for the clarification. I'm curious when Azure DevOps Server will be updating to that agent version.

[2021-04-26 15:22] Vinzz opened #237 "Version 1.186.0 of the tasks requires a VSTS agent newer than what's available on Azure Devops On Prem"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-04-28 20:34] max-zaytsev commented on #237
Hi @Vinzz, there was a security update on the agent side introduced with [v2.182.1](https://github.com/microsoft/azure-pipelines-agent/releases/tag/v2.182.1) - allowing to restrict variables which could be set by pipeline task - since a new possible vector of attack was found related to some possible injection from untrusted tasks. We updated app store extension tasks to enable such restrictions a

[2021-05-04 07:49] Vinzz commented on #237
Hi @max-zaytsev, dutifully noted, but 2.182.1 agents won't work with ADS 2020.0.1 Patch 2 or so it seems.
It becomes the standard agent version with Update 1 though, it is still in RC2 but may come soon
Thanks for your answer, I'll wait for Update 1.

[2021-05-04 17:37] max-zaytsev commented on #237
Hi @Vinzz,  2.182.1 agent should work after setting the environment variable 'AZP_AGENT_DOWNGRADE_DISABLED' to 'true' before agent configuration

[2021-05-05 15:59] #237 closed

[2021-05-24 10:05] miketimofeev opened #244 "[AppStoreRelease] Fastlane 2.184.0 breaks the task"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-05-24 11:40] miketimofeev opened #245 "[AppStoreRelease] Install specific Fastlane version doesn't work properly"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2021-05-25 03:45] blackchineykh commented on #245
I tried with version 2.183.0 and it worked for me

[2021-05-25 22:06] miketimofeev commented on #245
Uh, I've found the root cause — IpaResign@1 task install the latest fastlane and it's used by default no matter what we specified in AppStoreRelease task

[2021-05-25 22:10] miketimofeev commented on #245
@anatolybolshakov is it possible to improve IpaResign and let the user choose whether he needs a new Fastlane version or not? The same as in AppStoreRelease task

[2021-05-25 22:18] #245 closed

[2021-05-27 08:10] max-zaytsev commented on #236
Published
https://github.com/microsoft/app-store-vsts-extension/releases/tag/v1.188.0

[2021-05-27 08:10] #236 closed

[2021-05-27 14:16] bguidinger commented on #244
We're facing this same issue.  Another approach to fixing this is to use the fastlane inputs for the AppStoreRelease task.

[code]

[2021-05-27 15:54] miketimofeev commented on #244
@anatolybolshakov does it make sense to create an issue in the Fastlane repo? I could do it, but I don't know all the details how the task works

[2021-05-27 17:57] anatolybolshakov commented on #244
@miketimofeev yes - we are planning to re-check it on our side quickly and reach out to fastlane team - if there is something it could make more sense to apply on fastlane side.
@max-zaytsev JFYI

[2021-05-28 10:40] max-zaytsev commented on #244
looks like this issue only occurs if you use _-p (--apple_id)_ argument and API key authentication.
Since this argument isn't required when we use API key, we can safely remove it.
For basic authentication with a password, everything works as expected.

I've opened the issue in Fastlane repo :
https://github.com/fastlane/fastlane/issues/18767

[2021-05-31 14:15] frankfuu commented on #230
Agreed. Hopefully this can be fixed soon. Not able to complete my CI/CD workflow for my mobile apps without this.

[2021-06-01 08:33] Aiswarya26-ui opened #251 "Unable to update "release notes" in appstore production binary using release pipeline"
Hi,

There's an issue in updating the release notes to appstore. The release pipeline is able to deploy the build version but fails to update the release notes to appstore production. Here's the detailed error log.

2021-05-27T12:38:19.2357650Z [12:38:19]: [33m😵  Failed: Incorrect, or missing copyright date-> using a copyright date that is any different from this current year, or missing a date[

[2021-06-01 13:01] anatolybolshakov commented on #251
Hi @Aiswarya26-ui this seems to be fastlane issue - have you tried to apply workarounds mentioned in https://github.com/fastlane/fastlane/issues/16700?

[2021-06-03 11:12] iooovolts commented on #245
Is this working for everyone now? I am using version 2.183.0 with API key auth and I still get the missing username error. I have tried 2.183.2 and still no luck. Any ideas?

[2021-06-03 11:12] iooovolts commented on #244
Is this working for everyone now? I am using version 2.183.0 with API key auth and I still get the missing username error. I have tried 2.183.2 and still no luck. Any ideas?

[2021-06-03 11:25] Nick-Lucas commented on #244
The workaround worked for me yesterday but today does seem to have broken.

I've just cleared this field and that seems to have sorted the issue, as the code sets -p when it's set
![image](https://user-images.githubusercontent.com/8896153/120637302-a2162280-c466-11eb-9f88-172f829fa684.png)

I believe I set that field out of an abundance of caution, but it so far looks like the BundleId and API Key

[2021-06-03 15:17] anatolybolshakov commented on #245
Hi @iooovolts do you see the issue with IpaResign task?

[2021-06-04 03:35] Rrusl commented on #244
Try to use command without -p like offered in the previous comment.

[2021-06-04 08:43] iooovolts commented on #245
Clearing the App Specific ID seems to make t work!

[2021-06-09 18:11] ederbond commented on #215
Hello guys, the issue created by @Chiranjeevi521 was closed by fastlane team but this Azure DevOps task is still failing with the same error for me.
@anatolybolshakov do you know if there is somebody working on this.
I'm trying to upload an *.ipa file generated by AzureDevOps to an **External Group** of user that I've created on Apple's TestFlight and it first asked me to set a release notes file

[2021-06-09 18:23] ederbond opened #252 "Unable to publish build to external group of testers on TestFlight"
I'm trying to upload an *.ipa file generated by AzureDevOps to an **External Group** of user that I've created on Apple's TestFlight and then, it first asked me to set a release notes file which I just did as you can see in the image bellow, but now the build fails with the following error message:
`##[warning]You specified releaseNotes - so you need to provide fastlane session, app specific passw

[2021-06-10 08:11] max-zaytsev commented on #252
@ederbond Could you please share pipeline logs in debug mode?

[2021-06-10 12:34] ederbond commented on #252
[code]

[2021-06-10 12:36] ederbond commented on #252
Do you think the problem is this role?
![image](https://user-images.githubusercontent.com/12549812/121525978-5536cc80-c9cf-11eb-9357-99a9ee309577.png)

[2021-06-10 12:37] ederbond commented on #252
![image](https://user-images.githubusercontent.com/12549812/121526095-74cdf500-c9cf-11eb-99e3-79bfc036ff43.png)

[2021-06-10 15:29] max-zaytsev commented on #252
@ederbond yes. Some `fastlane ` commands  require app manager permissions

[2021-06-10 15:30] ederbond commented on #252
I've just generated a new API Key with apple but I'm still getting error

[2021-06-10 15:31] ederbond commented on #252
2021-06-10T15:28:49.2191530Z ##[section]Starting: Publish to TestFlight
2021-06-10T15:28:49.2205960Z ==============================================================================
2021-06-10T15:28:49.2206360Z Task         : Apple App Store Release
2021-06-10T15:28:49.2206710Z Description  : Release an app to TestFlight or the Apple App Store
2021-06-10T15:28:49.2207010Z Version      : 1.188.0
2021

[2021-06-10 15:55] max-zaytsev commented on #252
looks like wrong encoding of the api key:

`2021-06-10T15:28:54.0971950Z /usr/local/lib/ruby/gems/2.7.0/gems/fastlane-2.183.2/spaceship/lib/spaceship/connect_api/token.rb:62:in initialize': [!] invalid curve name (OpenSSL::PKey::ECError)`

You need to encode the content of .p8 file to base64 to use it in the task.
You can try this [tool ](https://www.base64encode.org)or the following powershell sn

[2021-06-10 16:51] ederbond commented on #252
Thank you so much for the help @max-zaytsev , after generating the App Store Connect API Key with the role "App Manager" and encoding it's content to base64 as you mentioned it worked just fine. Now my release builds are correctly being uploaded to my external group of testers on TestFlight.
Thank U!

[2021-06-10 16:51] #252 closed

[2021-06-17 09:52] anatolybolshakov commented on #251
Hi @Aiswarya26-ui do you have any updates?

[2021-06-18 07:25] max-zaytsev commented on #244
The fix has been [merged](https://github.com/fastlane/fastlane/pull/18860)and will be included in the next fastlane release.

[2021-06-18 07:25] #244 closed

[2021-06-20 22:36] anatolybolshakov commented on #206
@NPadrutt @let us take a look if we could make a workaround at the moment at the task level - to avoid metadata path being ignored.
@kevcrooks have you tried to use promote task?

[2021-06-20 22:43] anatolybolshakov commented on #251
@Aiswarya26-ui I'm closing this at the moment since it seems to be fastlane issue.

[2021-06-20 22:43] #251 closed

[2021-07-29 15:10] ekmobile commented on #192
@egor-bryzgalov we are still facing this issue with the message: "##[warning]You specified releaseNotes - so you need to provide fastlane session, app specific password only won't work".

We don't use external testers and use the App Store Connect API: https://docs.fastlane.tools/app-store-connect-api

Any idea why the release notes can't be submitted?

`[command]/usr/local/lib/ruby/gems/2.7.0/bin

[2021-08-02 07:40] DaniilShmelev commented on #235
Hey @Mosc! We've fixed the issue and the related changes have been deployed.

[2021-08-02 07:40] #235 closed

[2021-08-04 21:45] RomanPoschl commented on #205
Also when you let the entitlement path empty it's being still added into command. So you can't send custom command `--use_app_entitlements` because these two can't be used together.

Fastlane throws the error `--use-app-entitlements option cannot be used in combination with -e, --entitlements option.`
And in command there is this parameter in Fastlane sigh resign command `--entitlements /Users/use

[2021-08-12 10:23] KarinBerg opened #255 "Is it possible to also upload the iOS dSYM files with the task AppStore Release?"
## Required Information

Question, Bug, or Feature?
*Type*: Question

**Enter Task Name**: Apple App Store Release

## Environment
- Server - Azure Pipelines
- Agent - Private:
    - OS: macOS Big Sur 11.5.1
    - Agent version: 2.189.0

## Issue Description

Is it possible to also upload the iOS dSYM files with the task AppStore Release?

[2021-08-19 12:09] andreykhr commented on #218
What tool?

[2021-08-20 15:05] KarinBerg commented on #255
I answered my question by myself. No I understood that the IPA must be build with symbols inside.
See e.g. here for more info: https://www.matrixprojects.net/p/xcodebuild-export-options-plist/

[2021-08-20 15:05] #255 closed

[2021-09-17 13:06] rihanfarman opened #256 "Feature request - Release a version update in phases"
This is a request to support the ability to release an app in stages. The Apple documentation for this feature is available at https://help.apple.com/app-store-connect/#/dev3d65fcee1

[2021-09-30 17:52] erwindemoel commented on #218
@max-zaytsev I'm having the same issue. Can you please tell me which tool to use in order to solve this?

[2021-10-13 15:51] anatolybolshakov commented on #124
@naeemshaikh90 @markdou812 this feature was postponed due to more prioritized tickets. We can't give right estimation at the moment, but going to return back to this once we have capacity.
Please feel free to contribute if you have some suggestion around this enhancement.

[2021-10-19 13:45] sivap77 commented on #218
@erwindemoel - you can use this https://www.base64encode.org/, make sure you use the entire content of ..*.p8 file for the 64bit conversion

[2021-11-08 09:58] Mahmoud-Bassuni opened #261 "Waiting for the build to show up in the build list - this may take a few minutes (check your email for processing issues if this continues) and I noticed that the version uploaded but not submitted to review"
## Note
Waiting for the build to show up in the build list - this may take a few minutes (check your email for processing issues if this continues)

its seem to appstore but I can't make submit to review
- task: AppStoreRelease@1
    inputs:
      serviceEndpoint: 'AppStore Connect'
      releaseTrack: 'Production'
      appIdentifier: 'Com.xyz'
      appType: 'iOS'
      ipaPath: '$xyz.ipa'

[2021-11-09 11:30] anatolybolshakov commented on #261
Hi @Mahmoud-Bassuni  this is expected since build submission could take some time to be done - you can use 'shouldSkipWaitingForProcessing' input - to skip waiting for the finishing of this process.

[2021-11-09 19:13] SeanRobinson159 commented on #158
Can this issue be reopened? TestFlight does [support macOS](https://developer.apple.com/news/releases/?id=11032021) applications now.

https://testflight.apple.com

iOS or iPadOS apps: iPhone, iPad, or iPod touch running iOS 13 or iPadOS 13 or later. App Clips require iOS 14 or iPadOS 14, or later.
**macOS apps: Mac running macOS 12 or later.**
tvOS apps: Apple TV running tvOS 13 or later.
watchOS

[2021-11-11 09:12] Mahmoud-Bassuni commented on #261
so that mean I will upload build and submit for review incase  shouldSkipWaitingForProcessing = true

[2021-11-11 09:27] Mahmoud-Bassuni commented on #261
Actually its worked for me 2 month ago with shouldSkipWaitingForProcessing = false I don't know what happened @anatolybolshakov

[2021-11-11 09:38] anatolybolshakov commented on #261
@Mahmoud-Bassuni time for build processing could vary for because of different factors - for this case I would suggest to reach out to apple support - if you experience some increased delay for the processing on apple side.

[2021-11-11 10:08] Mahmoud-Bassuni commented on #261
actually the build upload on apple and I can't submit for review every time got Waiting for the build to show up in the build list  until the pipeline timeout

[2021-11-11 11:05] anatolybolshakov commented on #261
@Mahmoud-Bassuni this issue is not related to the task itself - please reach out to Apple support for further help. If you suspect that there is some issue with fastlane tools which task is using - you can also open an issue https://github.com/fastlane/fastlane for further troubleshooting.

[2021-11-11 12:34] anatolybolshakov commented on #261
Closing it at the moment since it's not related to the issue with task itself - please feel free to ask any further questions.

[2021-11-11 12:34] #261 closed

[2021-11-12 00:53] JoyFang1113 opened #262 "Apple App Store (TestFlight Track) task failed with Transporter Error 1272"
## Note
Since earlier this month, our CI/CD pipeline (using ADO extension Apple App Store) are not able to upload builds to Testflight with a transporter error "An error occurred while trying to call the requested method validateAssets. (1272)", and it seemed like a broad issue from Apple's side, (please see this post: https://github.com/fastlane/fastlane/issues/19572), which was fixed yesterday,

[2021-11-12 10:31] anatolybolshakov commented on #262
Hi @JoyFang1113 this seems to be related to the fastlane issue which is still active - https://github.com/fastlane/fastlane/issues/19572 - please reach out to fastlane support for more details.

[2021-11-15 18:34] spoelstraethan commented on #143
There is now an option to do it by reference, so if you've used the AppleCertificate or AppleProvisioningProfile tasks you can use the variables set by those to perform the signing/provisioning. Sadly those aren't "output" variables so you have to go find the MIcrosoft examples in the documentation that reveal the variable names.

[2021-11-22 19:07] idelfonsog2 commented on #262
@JoyFang1113 any update on this since the [fastlane/issues/19572](https://github.com/fastlane/fastlane/issues/19572) is closed already? I only ask cause... you know... I'm having the same issue🥁

[2021-11-23 17:44] idelfonsog2 opened #263 "invalid option: --submission_information"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: `invalid option: --submission_information`

**Enter Task Name**: AppStoreRelease

## Environment
- Server - Azure Pipelines or TFS on-premises? **Azure Pipelines**

- Agent - Hosted or Private: Hosted macOS-11

### Task Description

[code]

###

[2021-11-30 17:14] anatolybolshakov commented on #262
@idelfosog2 @JoyFang1113 since the fix for this issue was shipped with fastlane 2.198.0 - you can specify this version by 'installFastlane' and 'fastlaneToolsVersion' inputs.
Closing this one at the moment as external - please ping if you have any further questions.

[2021-11-30 17:14] #262 closed

[2021-11-30 19:08] idelfonsog2 commented on #263
I'm questioning the format of my inputs, is there a place I can look at the type that the arguments received?

Are those strings, bools, doubles? Are JSON objects escaped for special symbols like '\' ?

[2021-12-03 14:17] AndreyBespamyatnov opened #264 "Can not Publish to the App Store Production track"
Hi I'm using the Azure DevOps task, and here is logs

My configuration of the Task

[code]

[code]

[2021-12-05 16:38] AndreyBespamyatnov commented on #206
After 3 days, I found a workaround, hope that will be useful and will save some time for you:

1. Create a metadata folder structure via PS script
[code]
2. Create a new release
[code]
************************** - sensitive data
$(buildString) = 1.0.1755 (CFBundleShortVersionString)
$(buildIdWithOffset) = 1755 (CFBundleVersion)

[2021-12-05 16:39] AndreyBespamyatnov commented on #264
I found a workaround: https://github.com/microsoft/app-store-vsts-extension/issues/206

[2021-12-14 11:09] Abrissirba opened #265 "Hosted MACOS agent stuck at "Going to upload updated app to App Store Connect""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
 Bug

**Enter Task Name**: app-store-release

## Environment
- Server - Azure Release Pipeline

    - If using Azure Pipelines, provide the account name, team project name, build definition name/build number:
    account_name: solution-xperts, SX-Boend

[2022-01-14 20:07] patelchetan79 opened #266 "I want to upload IPA file to app store connect but dont want to submit for review automatically."
Hi,

I want to upload the IPA file to the app store connect but don't want to submit it for review automatically.

When I try shouldSubmitForReview: false, it is not uploading the IPA file to app store connect.  It is just creating the metadata on app store connect.

Here is the the my YML file setup.

steps:
- task: ms-vsclient.app-store.app-store-release.AppStoreRelease@1
  displayName: 'Publish

[2022-01-17 10:41] anatolybolshakov commented on #266
Hi @patelchetan79 is the ipaPath exists on your environment? Could you please share logs to take a look? You can send them to my email - v-anbols@microsoft.com

[2022-01-19 15:14] patelchetan79 commented on #206
I did the same as above comments. create metadata but still getting this error.

2022-01-19T14:23:54.0796280Z ##[section]Starting: Publish IOS App to App Store
2022-01-19T14:23:54.0810730Z ==============================================================================
2022-01-19T14:23:54.0811110Z Task         : Apple App Store Release
2022-01-19T14:23:54.0811450Z Description  : Release an app to Te

[2022-01-19 18:49] AndreyBespamyatnov commented on #206
@patelchetan79 I think something is wrong with your metadata file, look at your error:
```2022-01-19T14:26:33.7468000Z [14:26:33]: precheck 👮‍♀️ 👮 found one or more potential metadata problems, but this won't prevent fastlane from completing 👍```

Could you send your scripts, so we can review that

[2022-01-19 19:20] patelchetan79 commented on #206
metadata has below directory structutre
metadata >> default >> release_notes.txt

steps:
- task: ms-vsclient.app-store.app-store-release.AppStoreRelease@1
  displayName: 'Publish IOS App to App Store'
  inputs:
    authType: ApiKey
    apiKeyId: '$(AppStoreConnectApiKeyId)'
    apiKeyIssuerId: '$(AppStoreConnectApiIssuerId)'
    apitoken: '$(AppStoreConnectApiKeyContent)'
    appIdentifier: com.af

[2022-01-19 19:54] AndreyBespamyatnov commented on #206
@patelchetan79
hm, looks good for me, have you added a release_notes.txt for all languages in your supported list from the AppleDev portal?

[2022-01-19 19:56] patelchetan79 commented on #206
Yes we have below language support on appstore connect.

![image](https://user-images.githubusercontent.com/63804123/150204222-54a498f9-9d56-4591-9bc4-a972b019b458.png)

[2022-01-19 20:11] AndreyBespamyatnov commented on #206
@patelchetan79 sorry but I see no issue with your scripts, maybe it is something wrong with a path? maybe you set the wrong path?

Are you sure that those files exists: '$(System.DefaultWorkingDirectory)/ios/App/App/metadata' under the

Cause I see in your logs nothing about those txt files, look what I have in my logs:
![image](https://user-images.githubusercontent.com/2779266/150206003-0c2ca9a0-

[2022-01-20 16:33] patelchetan79 commented on #206
Hi, It is issue with my end. not able to find the directory. I see that log now. Uploading running for 1 hours and still not done. Do you know any setup i am missing. I have submit for review true. If i do submit for review false the IPA file is not uploading.

[2022-01-31 17:36] anatolybolshakov commented on #265
Hi @Abrissirba sorry for the delay - could you please check the difference between last successful/failed runs? Was there task version change, or different fastlane version?

[2022-01-31 17:56] anatolybolshakov commented on #264
Hi @AndreyBespamyatnov sorry for the delay - is this issue still actual for you?

[2022-01-31 18:05] anatolybolshakov commented on #263
Hi @idelfonsog2 sorry for the delay - there is no specific escaping for the 'fastlaneArguments' input value as I see - you can check the result fastlane command by running the pipeline in debug mode.

[2022-01-31 18:09] AndreyBespamyatnov commented on #264
Hi, thank you for your reply, as I provided before, I found the workaround and it works pretty well, and I still think that the issue exists.

[2022-01-31 18:26] #263 closed

[2022-02-01 08:12] michaelmairegger commented on #264
@anatolybolshakov Unfortunately the issue exists.

This works

    - task: AppStoreRelease@1
      displayName: 'Deploy to "${{ parameters.iOSExternalTestersGroup }}"'
      inputs:
        serviceEndpoint: '******'
        appIdentifier: '******'
        ipaPath: '$(Pipeline.Workspace)/ios/******.ipa'
        shouldSkipWaitingForProcessing: true
        appSpecificId: '******'
        installFast

[2022-02-08 19:16] spoelstraethan commented on #168
Just a note if you have installed `coreutils` via Brew it may have installed the GNU/Linux `base64` which doesn't have `-b` as an option. The macOS version is still available and you can reference the full path to use it instead, `/usr/bin/base64` and you could put the `-b 0` before the filename to make it easier to modify the name if you are going to be encoding multiple files, eg `/usr/bin/base6

[2022-02-22 11:21] anatolybolshakov commented on #266
Summarizing results per offline investigation - seems like ipa file has been successfully uploaded per logs, and fastlane command was generated properly by pipeline task.
There is a --submit_for_review flag which manages this behavior – tasks sets it up if shouldSubmitForReview input is ‘true’, but did not found this flag in the fastlane command.
The suggestion is to check if there is a submit_for

[2022-02-22 11:50] anatolybolshakov commented on #265
Hi @Abrissirba do you have any updates?

[2022-02-22 12:08] anatolybolshakov commented on #264
@AndreyBespamyatnov @michaelmairegger as I see this is know issue which occurres when 'skipBinaryUpload' is enabled.
To resolve it - according to the [current fastlane logic](https://github.com/fastlane/fastlane/blame/f55ec210827f1f7e6f3b77f4b19f73f1154d23f6/deliver/lib/deliver/commands_generator.rb#L69)  you can either set up 'description' property or metadata, or provide deliver file.

[2022-02-23 19:29] vincentcastagna commented on #153
Still unclear what apple id we are talking about ?

`you can take it as a value of Apple ID property in the App Information section in App Store Connect`

Even this statement is unclear.

[2022-02-23 20:58] vincentcastagna commented on #153
The doc here is to UNCLEAR. I've been seeking how to bypass 2FA with service connection. Here you tell us to use fastLaneArgument to pass in the app Id, but your task provides a appSpecificId. Also speaking about appSpecificPassword, but when to use it ? Both ? Please enlight me, I'm on a CI with 2FA account enabled and 2FA activated :

` - task: AppStoreRelease@1
          displayName: 'Publish t

[2022-02-26 02:12] EmilAlipiev opened #270 "ERROR ITMS-90046: "Invalid Code Signing Entitlements. Your application bundle's signature contains code signing entitlements that are not supported on iOS"
On Azure Pipelines my Xamain.Ios build returning this error

[code]

I found the similar issue on fastlane github but when I followed the suggestion on the issue below, error persists

https://github.com/fastlane/fastlane/issues/768

Not sure if this suggestion is valid for VS4Mac as well. I have simply set the signing as Manuell and selected correct publish profile.
I have tested with resigning a

[2022-03-07 14:33] GwnElviin commented on #265
I have the same issue, before it worked now it keeps hanging. how can I resolve this problem?

[2022-03-11 04:04] rohanp-91 opened #271 "Submit for Review fails with "Version is not ready to be submitted yet""
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2022-03-15 09:42] anatolybolshakov commented on #271
Hi @rohanp-91 this error seems to come from fastlane - I would suggest to refer the comments from https://github.com/fastlane/fastlane/issues/17933 and see if it helps.

[2022-03-15 16:59] rohanp-91 commented on #271
The above issue is similar to ours but not the same issue. In the above issue it fails with below:

<img width="692" alt="image" src="https://user-images.githubusercontent.com/13272298/158431046-6f9ddf21-be5f-4ed3-88c7-f6beb48c63e1.png">

In our case, there are no such errors and the error message is also different - 'Version not ready to be submitted yet'. I have opened an issue on fastlane's git

[2022-03-21 17:26] DenisRumyantsev commented on #271
@rohanp-91 could you try to run the pipeline using `2.199.0` and `2.204.2` Fastlane versions in the `Submit App For Review` step?

[2022-03-23 16:30] rohanp-91 commented on #271
There is a bug in the ADO task where, if you specify a particular fastlane version, it fails to uninstall the latest fastlane version and ends up using the latest one (even though it installs the specified version). But I can retry with 2.199.0.

[2022-03-28 17:42] anatolybolshakov commented on #271
@rohanp-91 the task is trying to uninstall all fastlane versions before installing of the specific version, and if there is the latest already installed - will use it even if specific version was installed.
Do you see some specific error when task is trying to uninstall existing fastlane versions?

[2022-03-30 10:15] denis-tikhomirov commented on #124
Hello @naeemshaikh90, @markdou812,
Really it doesn't look as correct way to add new task to select specific version of Xcode to App Store extension repo. But this task can be added to [Azure Pipeline Tasks repo](https://github.com/microsoft/azure-pipelines-tasks). Please create feature request (voting ticket) for creation of UseXcodeVersion task in [VS Developer Community](https://developercommuni

[2022-04-05 12:26] georgek1991 commented on #130
@lkillgore can you please confirm how to give the additional parameters?

[2022-04-07 14:10] anatolybolshakov commented on #270
@EmilAlipiev please ping if you have any other questions

[2022-04-07 14:22] anatolybolshakov commented on #271
Hi @rohanp-91 do you have any updates?

[2022-04-10 22:26] EmilAlipiev commented on #270
@anatolybolshakov thanks for your reply. I am not sure where do you see that aps-environment with value Production as entitlement cant be set. I have already googled and cant find anything related. On the other hand, app signing is working just fine through XCode with this entitlement. That confuses me.

[2022-04-11 15:06] EmilAlipiev commented on #270
@anatolybolshakov yes, i do using xcode directly to appstore without any problem.

[2022-04-12 15:33] anatolybolshakov commented on #270
@EmilAlipiev could you please share your pipeline yaml file to take a look?
Do you have some minimal repro steps - so we would be able to reproduce it on our side?

[2022-04-13 11:35] Abrissirba commented on #265
Sorry for late reply. One reason might be that for some reason I have multiple fastlane versions installed in different locations on the computer. The devops task choose another version, fastlane-2.139.0, than what it used if I run it from the terminal on the computer manually, fastlane-2.205.1. Can I tell the devops task where fastlane is installed somehow?

[2022-04-14 18:28] devandanger opened #273 "Issue detecting xcode version in Fastlane with recent task."
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2022-04-18 06:55] AndreyIvanov42 commented on #273
Hi @devandanger  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-04-19 10:58] alexander-smolyakov commented on #124
Hey @naeemshaikh90, @markdou812, we believe that the best approach will be creating a separate pipeline task to provide a possibility to change Xcode version during pipeline execution and we believe that such task should be presented in the [default collection of pipelines tasks](https://github.com/microsoft/azure-pipelines-tasks) (Such as [UsePythonVersionV0](https://github.com/microsoft/azure-pi

[2022-04-19 10:59] #124 closed

[2022-04-26 17:24] anatolybolshakov commented on #270
@EmilAlipiev we are unable to reproduce this issue. This could be probably related to some difference between configuration and build process of your project in pipelines and local environment. We also don't see any signs of issue on task side here - there is an 'Invalid Code Signing Entitlements' error coming from iTunes Transporter which says that there are code signing entitlements in applicati

[2022-04-27 18:08] madcwb opened #274 "Azure Devops to Deploy IOS Application on Test-flight"
I am using ["Azure DevOps Extension for the Apple App Store"](https://marketplace.visualstudio.com/items?itemName=ms-vsclient.app-store) to publish my app

But in process return error "/Users/runner/.gem-cache/gems/fastlane-2.205.2/spaceship/lib/spaceship/connect_api/token.rb:71:in `initialize': [!] string contains null byte (ArgumentError)"
and I cant find the reason.

I need help to identify the

[2022-05-04 12:08] GarikProg commented on #274
Hi @madcwb  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-05-04 12:10] Kozlov-Igor commented on #274
Hi @madcwb  thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-05-20 08:14] DenisRumyantsev commented on #271
Hi @rohanp-91, any updates about this issue? Could you try to use `2.199.0` and `2.204.2` Fastlane versions as was suggested?

[2022-05-31 10:14] DenisRumyantsev commented on #271
Hi @rohanp-91, I am closing this issue for now. Feel free to reopen it if it will be needed.

[2022-05-31 10:14] #271 closed

[2022-06-01 12:08] SvetlanaMaliugina opened #275 "[Component Governance Alert] Check Apple Store Ext"
Need to resolve Component Governance vulnerablities for this work items:
- [BUG 1953783](https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1953783) Component Governance Alert - CVE-2021-3918 in json-schema 0.2.3. Severity: Critical
- [BUG 1935990](https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1935990) Component Governance Alert - CVE-2021-44906 in minimist 1.2.5. Severity: Critical

[2022-06-01 12:54] #275 closed

[2022-06-03 10:27] Marchelune commented on #158
Hi!
We are also hitting this issue, now that TestFlight supports MacOS .
Is there currently a way around it?

[code]

The task:
[code]

[2022-06-07 21:51] max-zaytsev commented on #273
Hi @devandanger, is this issue still actual for you?

[2022-06-08 07:55] ogezue opened #277 "Unable to deploy to TestFlight with Token based authentication"
**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: Unable to deploy to TestFlight with Token based authentication

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

## Environment
Azure Pipelines

## Issue Description

I'm unable to use AppStoreRelease to publish the app to my external testers. Before I used AppCenter without a p

[2022-06-10 08:10] max-zaytsev commented on #277
@ogezue Thanks for reporting! We are working on more prioritized issues now but will get back to this one soon

[2022-06-16 16:25] SEnglishSMP opened #278 "Cannot submit for review an build previously published to TestFlight"
## Required Information

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**: Apple App Store Release

## Environment
- Server - Azure Pipelines
- Agent - Hosted, macos-latest

## Issue Description

We have previously uploaded an IPA and published it to TestFlight.  Now we want to submit it to Apple for review, but not automatically publish it.  The task fails because the app's store v

[2022-06-16 22:41] vmapetr commented on #278
Hi @SEnglishSMP thanks for reporting! We are currently working on more prioritized issues but will get back to this one once be able to.

[2022-06-22 06:44] #273 closed

[2022-06-27 15:51] microsoft-github-policy-service[bot] opened #281 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-06-27 20:09] #281 closed

[2022-07-05 04:50] pk1498 commented on #277
Hi @ogezue, were you able to resolve this? I am facing the same error. I have double checked my service endpoint credentials and also tried token-based authentication, but this error is consistent.

@max-zaytsev can you please look into this, thank you.

[2022-07-05 05:17] ogezue commented on #277
@pk1498 Yes, I did. Problem was that my token for Apple was not base64 encoded. The error message doesn't make this clear.

[2022-07-05 05:17] #277 closed

[2022-07-29 03:44] aaronaerion commented on #223
@ViniciusTei Did you find a solution for this?

[2022-08-08 03:35] SteveKennedy commented on #264
Hoping someone can point me in the right direction on this one? I still get the "No deliver configuration found in the current directory. Do you want to setup deliver?" issue.

[2022-08-11 21:02] hifiguitarguy opened #283 "ERROR ITMS-90035: "Invalid Signature. A sealed resource is missing or invalid."
**Bug**
**Apple App Store Release**

## Environment
TFS On-Prem: Azure DevOps Server 2020 Update 1.1
Private Agent: MacOS Monterey 12.3.1

## Issue Description
We have successfully used this task for other builds. We unfortunately lacked a nightly to identify a breaking change, but we generally have updated Xamarin framework targeting.

Build performs a clean sources and build output directories.

[2022-08-16 07:05] kirill-ivlev commented on #283
Hi @hifiguitarguy, thanks for your request, we've added this issue to our backlog. We'll take a look at it once we have enough capacity.

[2022-08-16 22:45] 404pilot opened #284 "Got an email "Action required: Transition from XML to App Store Connect API""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question

**Enter Task Name**: `AppStoreRelease `

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

----
The task works! But we received an email from Apple
[code]

Do you know what I should up

[2022-08-19 12:46] kirill-ivlev commented on #284
Hi @404pilot,
Thank you for your feedback! We will check this issue once we will have capacity.

[2022-09-01 21:08] hifiguitarguy commented on #283
Perhaps this was environment (Xamarin SDK). Working now.

[2022-09-05 14:08] shehanGuruge commented on #137
Hi is there a way to increment the build number. If it is can anyone post a solution

[2022-09-09 15:06] Debdan1997 commented on #277
Base64 encoding isn't working for me, I'm trying with encoding -----BEGIN PRIVATE KEY-----\nxxxxyyyyzzzz\n-----END PRIVATE KEY-----, sometimes getting `initialize': [!] string contains null byte and often `initialize': [!] invalid curve name (OpenSSL::PKey::ECError) error. When we tried to run fastlane locally via using json file containing the api key authentication succeded. Kindly help with the

[2022-09-09 15:28] Debdan1997 opened #285 "Unable to deploy using fastlane azure task with Token based authentication"
Question, Bug, or Feature?
Type: Question

Enter Task Name: Unable to deploy using fastlane azure task with Token based authentication

Environment
Azure Pipelines

Issue Description
I'm unable to use AppStoreRelease to publish the app to my external testers. I have been provided with a string api_key in the format -----BEGIN PRIVATE KEY-----\nxxxxyyyyzzzz\n-----END PRIVATE KEY----- as a string ke

[2022-09-09 17:35] vmapetr commented on #285
Hi @Debdan1997
Thank you for your question,
We are working on more prioritized issues at the moment but will get back to this one soon.

[2022-09-12 19:55] vmapetr commented on #285
Discussed in DM. Resolved via same solution as here - https://github.com/microsoft/app-store-vsts-extension/issues/218

[2022-09-12 19:55] #285 closed

[2022-09-13 12:06] flowridr opened #286 "Build has completed processing in App store connect but task is stuck in "Waiting for App Store Connect to finish processing the new build" forever."
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug

**Enter Task Name**:  AppStoreRelease@1

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

## Environment

Using Azure pipelines

- task: AppStoreRelease@1
  inputs:
    authType: 'ApiKey'

[2022-09-14 17:12] vmapetr commented on #286
Hi @flowridr,
Thank you for your report! We will check this issue once we will have capacity.

[2022-09-27 21:14] vincentcastagna opened #287 "No UI to specify AppSpecificPassword in AppStoreRelease@1 Task Release"
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Question/Bug

**Enter Task Name**: AppStoreRelease@1

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks/AppStoreRelease

## Environment

- Agent -  Private:

    - VS 2022 latest agent version

#

[2022-09-28 14:59] vincentcastagna commented on #287
I can confirm that using Additional fastlane arguments works ... however could be great to have it such as AppSpecificId, directly in the UI.

[2022-10-10 18:39] louis-wuitton opened #288 "Investigate whether the exposed secret in L0.ts is used only for testing purpose"
## Issue Description
There is an ask to my team concerning an exposed secret in line 182 of the file Tasks/AppStoreRelease/Tests/L0.ts. Since my team does not own the extension, I need to ask for help related to this secret. Mainly I want to ask if anyone know for what purpose this secret is created. Is it created only for testing purposes?

![exposed_key](https://user-images.githubusercontent.com

[2022-10-14 16:53] LiliaSabitova commented on #288
Hi @louis-wuitton yes, it is used only for testing purposes.

[2022-10-14 22:06] syewchuk opened #289 "Is this warning message needed: "You specified releaseNotes - so you need to provide fastlane session, app specific password only won't work""
## Required Information

Entering this information will route you directly to the right team and expedite traction.

**Question, Bug, or Feature?**
*Type*: Bug/Feature

**Enter Task Name**: AppStoreRelease@1

list here (V# not needed):
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks/AppStoreRelease
https://github.com/microsoft/app-store-vsts-extension/blob/master/Tasks/AppS

[2022-10-17 13:57] sergey-koryshev commented on #287
Hi @vincentcastagna, to let task `AppStoreRelease` set environment variable `FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD` you need to specify it in your service connection:
![image](https://user-images.githubusercontent.com/11807074/196196245-42d4ad37-4a39-4374-8d34-5254a1abe6c3.png)

Let me know if you have any questions

[2022-10-17 15:50] LiliaSabitova commented on #289
Hi @syewchuk thank you for reporting the issue.
Yes, look like this warning is a vestige.
We'll get back to it as soon as we have enough capacity.

[2022-10-20 08:51] shehanGuruge opened #290 "An exception has occurred: issuerId is required"
I am using this AppStoreRelease@1 task to upload the ipa to testflight and this was working fine before. However all of a sudden I am getting this issue in azure pipelines,

[code]

Although it says the issuer id is required, issuer id has been already configured inside the service connection and also has been declared explicitly inside the task itself.

[2022-10-21 04:05] chadcampling commented on #290
Changing to force the macos-12 hosted agent has provided a work around for us while fastlane resolve
[code]

https://github.com/fastlane/fastlane/issues/20741

[2022-10-24 04:24] charmipatalia commented on #218
I have performed all the steps but still facing the same issue. any idea?

Added key like this:

-----BEGIN PRIVATE KEY-----LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR1RBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJIa3dkd0lCQVFRZy9NbnZwaWI3V2p2QzhrVDgKRHE5T1RpWWs1RDEyYng0QlExNDYvZVAzVnJPZ0NnWUlLb1pJemowREFRZWhSQU5DQUFRVGxJSkYwM0lES043RgpnRVpKaXlFdFdQZ0N6amUxM1Qyc2hWOHY0ZUxzdThmc2pyTXBITURZZGFRQWREa2JH

[2022-10-26 07:32] LiliaSabitova commented on #289
Hi @rmorrin, I'm working on this issue now.

[2022-10-26 08:04] sergey-koryshev commented on #287
Closing the issue as mitigated

@vincentcastagna, please feel free to reactivate it.

[2022-10-26 08:04] #287 closed

[2022-10-27 08:32] legrignotin commented on #274
@madcwb If you still have the issue, you need to covert your apiToken to a base64 string and it should work :)

[2022-10-27 09:14] kirill-ivlev commented on #288
@louis-wuitton thank you for noticing that, we will replace it with dummy string inside the repo.

[2022-11-03 09:14] max-zaytsev opened #291 "Create a single repo to hold all common packages"
Wrong repo.

[2022-11-03 09:18] #291 closed

[2022-11-04 12:44] LiliaSabitova commented on #288
Merged changes to master.

[2022-11-05 14:15] TsplayerT opened #293 "Invalid support URL in task"
I have a Xamarin.iOS application that I want to automate the release of new versions in the store. I use `Azure DevOps Pipelines` with the `macos-12` agent ([_2.211.1_](https://github.com/actions/runner-images/releases/tag/macOS-12%2F20221027.1)) with this task ([_1.207.0_](https://github.com/microsoft/app-store-vsts-extension/tree/v1.207.0)):

[code]

- The problem is that when the **support_url.

[2022-11-07 14:44] DmitriiBobreshev commented on #293
Hi @TsplayerT thank you for the question, AppStoreRelease Task using [fastline ](https://docs.fastlane.tools/) for creating releases, so the schema is the same, and your file tree [looks correct](http://docs.fastlane.tools/actions/deliver/#parameters), but support URL now required option according to [AppStore policy](https://help.apple.com/app-store-connect/#/devf29afbb74) at least for production

[2022-11-07 16:36] TsplayerT commented on #293
@DmitriiBobreshev  I understand how it works, it really looks like an error returned by the Apple system API but I keep getting an error using a website URL that is live, using the `https` protocol, with the certificates and domain updated and correct 😢

##
Can you tell me where you have an **example repository** using this Azure DevOps Pipelines task making continuous delivery of a `Xamarin.iOS`

[2022-11-08 10:42] DmitriiBobreshev commented on #293
Hi @TsplayerT, unfortunately, we don't have an application which we are publishing to AppStore production, so we don't have an example with `releaseTrack: 'Production'` and metadata configuration, the only example that we have is how to deploy [Xcode article](https://learn.microsoft.com/en-us/azure/devops/pipelines/ecosystems/xcode?view=azure-devops#release), but this case for  `releaseTrack: 'Tes

[2022-11-08 18:02] TsplayerT commented on #293
@max-zaytsev  yes, I can set the URL manually by `AppStoreConnect`

[2022-11-09 21:31] max-zaytsev commented on #293
@TsplayerT your example "https://example.com.br/" works fine for me.
The issue is reproduced when there is a broken link like "htpp:/example" in folders with localization (en-US, es-MX, etc.)
Please check that you have the same link (https://example.com.br/ ) in all support_url.txt files

[2022-11-14 08:42] LiliaSabitova commented on #289
Merged changes to master.

[2022-11-14 08:50] LiliaSabitova commented on #290
Hi @shehanGuruge you can also try setting environment variable ITMSTRANSPORTER_FORCE_ITMS_PACKAGE_UPLOAD to true.
You can see the details [here](https://github.com/fastlane/fastlane/issues/20741).

[2022-11-15 09:17] max-zaytsev commented on #293
@TsplayerT did you manage to resolve your issue?

[2022-11-15 12:25] gosodo opened #295 "Apple decommissioning XML feed which affects transporter"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Decommissioni

[2022-11-18 10:05] max-zaytsev commented on #293
@TsplayerT Closing this as it doesn't look like a problem with the task.

[2022-11-18 10:05] #293 closed

[2022-11-18 13:29] KonstantinTyukalov commented on #295
Hi @gosodo, thank you for reporting. We will investigate it once we've dealt with higher priority issues

[2022-11-21 12:04] TsplayerT commented on #293
@max-zaytsev  I managed to solve the problem by leaving only 1 file `support_url.txt` and located in the `default` folder.

![Screenshot_3](https://user-images.githubusercontent.com/6465230/203048617-13b9a418-058b-490b-b0c2-f47812d939a7.png)

[2022-11-23 20:25] #295 closed

[2022-11-23 20:28] ismayilov-ismayil commented on #284
Hi @404pilot , thank you for reporting.
Actually, we use [fastlane](https://github.com/fastlane/fastlane) for AppStore release, and they use Rest Api to submit binaries via transporter. Thus, it doesn't impact to app-store-vsts-extension.

Closing this one, feel free to ask any other questions or let us know if it's still relevant for you.

[2022-11-23 20:28] #284 closed

[2022-11-24 08:31] chirayuchirag1 opened #296 "facing the fastlane issue while deploying to app store"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2022-11-24 10:16] vmapetr commented on #296
Hi @chirayuchirag1, thank you for the report!
Could you please provide a YAML pipeline template example and the complete log of the failed job?

[2022-11-24 16:11] chirayuchirag1 commented on #296
Hi @vmapetr
**this is the full log of the failed job**
--------------------------------------------------------------------------------------------------------
2022-11-22T06:22:42.4355300Z ##[debug]Using node path: /Users/runner/runners/2.213.2/externals/node10/bin/node
2022-11-22T06:22:42.7174720Z ##[debug]agent.TempDirectory=/Users/runner/work/_temp
2022-11-22T06:22:42.7245170Z ##[debug]loading

[2022-11-28 14:24] shilpa-maria opened #297 "App store Promote fails"
## Note
Issues in this repo are for tracking bugs, feature requests and questions for the tasks in this repo

For a list:
https://github.com/microsoft/app-store-vsts-extension/tree/master/Tasks

If you have an issue or request for the Azure Pipelines service, use developer community instead:

https://developercommunity.visualstudio.com/spaces/21/index.html )

## Required Information

Entering this

[2022-11-28 17:19] max-zaytsev commented on #297
@shilpa-maria thanks for reporting the issue.
When did it start to fail?
Could you please share pipeline logs from the lst successful run and the first failure?

[2022-11-29 04:44] shilpa-maria commented on #297
Hi Maxim,

The task ***@***.*** never got successful. The task failed everytime it was used.
The latest pipeline run was made yesterday 29.11.2022, which also failed.

Thanks & Regards,
Shilpa Maria

From: Maxim ***@***.***>
Sent: 28 November 2022 22:49
To: ***@***.***>
Cc: Shilpa ***@***.***>; ***@***.***>
Subject: Re: [microsoft/app-store-vsts-extension] App store Promote fails (Issue #297)

Thi

[2022-11-30 09:35] shilpa-maria commented on #297
Hi Maxim,

May I please have an update.

Thanks & Regards,
Shilpa Maria
From: Shilpa ***@***.***>
Sent: 29 November 2022 10:14
To: ***@***.***>; ***@***.***>
Cc: ***@***.***>
Subject: RE: [microsoft/app-store-vsts-extension] App store Promote fails (Issue #297)

Hi Maxim,

The task ***@***.*** never got successful. The task failed everytime it was used.
The latest pipeline run was made yesterday 2